
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="content">
        <div>
            <h2>Video Game Reviews</h2>
        </div>
        <div>
            <p>
                <h4>
                    COMING SOON
                </h4>
            </p>
        </div>
    </div>
    <div class="feed">
        <div>
            <h2>What I'm Playing Now:</h2>
            <ul class="feed-list">
                <li>
                    <a target="_blank" href="https://www.playstation.com/en-us/games/horizon-zero-dawn-ps4/">
                        <img width="300" src="https://cdn.images.dailystar.co.uk/dynamic/184/photos/509000/620x/Horizon-Zero-Dawn-Platinum-Avatar-PS4-Gift-611828.jpg" />
                    </a>
                </li>
                <li>
                    <div>
                        <iframe src="https://store.steampowered.com/widget/570/?t=%20" frameborder="0" width="300" height="190"></iframe>
                    </div>
                </li>
                <li>
                    <div>
                        <iframe src="https://store.steampowered.com/widget/323190/?t=%20" frameborder="0" width="300" height="190"></iframe>
                    </div>
                </li>
                <li>
                    <a target="_blank" href="https://godofwar.playstation.com/">
                        <img width="300" src="https://d1pqlgpcx1bu0k.cloudfront.net/static/img/GOW-OG-image.jpg" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

