
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="content">
        <div>
            <h2>What I'm Playing Now:</h2>
            <ul class="feed-list">
                <li>
                    <img src="https://i2.wp.com/www.geeksundergrace.com/wp-content/uploads/2014/12/Infamous-2.jpg?fit=640%2C360" />
                </li>
                <li>
                    <img src="https://blizzard.gamespress.com/cdn/propressroom/Content/Artwork/Eva/BlizzardLive/artwork/2018/01/30072854-1794306c-e595-44f4-ba87-6a844a274a13/World_of_Warcraft_Battle_for_Azeroth_Logo.jpg?w=1024&maxheight=4096&mode=pad&format=jpg" />
                </li>
                <li>
                    <iframe src="https://store.steampowered.com/widget/582010/?t=%20" frameborder="0" width="646" height="190"></iframe>
                </li>
                <li>
                    <a target="_blank" href="https://www.playstation.com/en-us/games/horizon-zero-dawn-ps4/">
                        <img width="300" src="https://cdn.images.dailystar.co.uk/dynamic/184/photos/509000/620x/Horizon-Zero-Dawn-Platinum-Avatar-PS4-Gift-611828.jpg" />
                    </a>
                </li>
                <li>
                    <img src="http://www.codemasters.com/wp-content/uploads/2018/02/ps_onrush_2018.jpg" />
                </li>
                <li>
                    <img src="https://imagesvc.timeincapp.com/v3/fan/image?url=https%3A%2F%2Fbamsmackpow.com%2Ffiles%2F2016%2F04%2FMPQ_Civil-War_Key-Art.jpg&c=sc&w=850&h=560" />
                </li>
                <li>
                    <div>
                        <iframe src="https://store.steampowered.com/widget/570/?t=%20" frameborder="0" width="646" height="190"></iframe>
                    </div>
                </li>
                <li>
                    <div>
                        <iframe src="https://store.steampowered.com/widget/323190/?t=%20" frameborder="0" width="646" height="190"></iframe>
                    </div>
                </li>
                <li>
                    <a target="_blank" href="https://godofwar.playstation.com/">
                        <img width="300" src="https://d1pqlgpcx1bu0k.cloudfront.net/static/img/GOW-OG-image.jpg" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="feed">
    </div>
</div>

