body {
	padding: 4px;
	background-color: #cecece;
	font-family: 'Roboto Condensed', sans-serif;
}

h2 {
	font-weight: 100;
	font-size: 1.25em;
}

.react-header {
	font-weight: 100;
	font-size: 1.25em;
}

td, th {
	font-size: 12px;
	min-width: 40px;
	border: 1px solid #ddd;
	padding: 8px;
}

.double {
	background-color: green;
	color:white;
}

.zero {
	background-color: darkslategrey;
	color: white;
}

.half {
	background-color: red;
	color: white;
}

.type-cell {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	padding: 0;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #333;
	color: white;
}

.right {
	float: right;
}

.feed {
	width: 30%;
	overflow: hidden;
	float: right;
	max-width: 300px;
}

.feed-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.feed-list li{
	padding:12px;
}

.wrapper {
	overflow: auto;
}

.video-container {
	position: relative;
	padding-bottom: 26.25%;
	padding-top: 25px;
	height: 0;
	max-width:500px;
}

	.video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

.social-widget {
	max-width: 400px;
	float: inherit;
}

.full-page {
	float: left;
	width: 100%;
	padding: 12px 0px;
}

.content {
	float: left;
	width: 70%;
}

.welcomeMessage {
	text-align: center;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100vh;
	height: auto;
	margin: auto;
}

.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.header li {
	float: left;
}

.header .right-menu-items {
	float: right;
}

.header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

	.header li a:hover:not(.myName) {
		background-color: #111;
	}

.header .myName {
	color: #4f4b4b;
	background-color: #ffc371;
}

input {
	font-family: 'Roboto Condensed', sans-serif;
}

	input[type=text], select {
		width: 70%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

	input[type=submit] {
		width: 25%;
		background-color: #ffc371;
		color: white;
		padding: 12px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

		input[type=submit]:hover {
			background-color: #bf945a;
		}

.lg-icon {
	display: inline-block;
}

.sm-icon {
	display: none;
}

@media screen and (max-width: 850px) {
	.lg-icon {
		display: none;
	}

	.sm-icon {
		display: inline-block;
	}

	.feed, .content {
		width: 100%;
		float: left;
	}

	.social-widget {
		float: inherit;
	}
}
