body {
	padding: 4px;
	background-color: #cecece;
	font-family: 'Roboto Condensed', sans-serif;
}

.feed {
	width: 25%;
	min-width: 250px;
	float: right;
}

.social-widget {
	max-width:400px;
	float:inherit;
}

.content {
	float: left;
	width: 100%;
	padding-right: 8px;
	padding-bottom: 8px;
}

.welcomeMessage {
	text-align: center;
}

	.content img {
		display: block;
		max-width:100%;
		max-height:100vh;
		margin: auto;
	}

.gif img {
	width: 100%;
	height: auto;
}

.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.header li {
	float: left;
}

.header .right-menu-items {
	float:right;
}

	.header li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

.header li a:hover:not(.myName) {
background-color: #111;
}

	.header .myName {
		color:#4f4b4b;
		background-color: #ffc371;
	}

input {
	font-family: 'Roboto Condensed', sans-serif;
}

input[type=text], select {
	width: 70%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 25%;
	background-color: #ffc371;
	color: white;
	padding: 12px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

	input[type=submit]:hover {
		background-color: #bf945a;
	}

.lg-icon {
	display: inline-block;
}

.sm-icon {
	display: none;
}

@media screen and (max-width: 500px) {
	.lg-icon {
		display: none;
	}

	.sm-icon {
		display: inline-block;
	}

	.feed {
		width: 100%;
		float: left;
		padding: 8px;
	}

	.content {
		float: left;
		width: 100%;
		padding: 8px;
	}

	.social-widget {
		float: inherit;
	}
}