
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="full-page">
    <div id="content"></div>
    <script src="@Url.Content("~/Scripts/Dnd/Pokefam.jsx")"></script>
</div>