
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="full-page">
    <h3>Dungeons and Dragons</h3>
    <div>
        <ul>
            <li>
                @Html.ActionLink("Poke'fam", "Pokefam", "Dnd")
            </li>
        </ul>
    </div>
</div>