
@{
    ViewBag.Title = "TypeChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="full-page">
    <div style="padding: 8px;">
        <div id="typechart-content"></div>
        <script src="@Url.Content("~/Scripts/Dnd/TypeChart.jsx")"></script>
    </div>
</div>
