
@{
    ViewBag.Title = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div>
        <h2>Music Performance Experience</h2>
        <p>
           Bassist since 2007.  I started playing gigs in 2009.
        </p>
        <h2>Bass Rig</h2>
        <ul>
            <li><b>Bass:</b> Ernie Ball Music Man StingRay 5 HH 5-String Electric Bass Guitar India Ivory Maple Fretboard</li>
            <li><b>Amp:</b> Mesa Boogie Walkabout 1x12 300W Tube Bass Combo Amp</li>
            <li><b>Strings:</b> DR (Various)</li>
            <li><b>Pedals:</b> TC Electronic Polytune tuner (1), Electro-Harmonix Enigma Q Balls Bass Envelope Filter Pedal</li>
        </ul>
    </div>
</div>
<div class="feed">
    <div>
        <h2>
            Bands I have recorded with:
        </h2>
    </div>
    <div>
        <p>
            <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:4dWtsQvuME6tCWFycaTvO7&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
        </p>
    </div>
    <div>
        <p>
            <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:0EOl6G6s2Rj5QspvJfji8S&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
        </p>
    </div>
</div>