
@{
    ViewBag.Title = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="content">
        <div>
            <h2>Music Performance Experience</h2>
            <p>
                Bassist since 2007.  I started playing gigs in 2009.
            </p>
            <h3>
                Band History:
            </h3>
            <ul>
                <li>
                    <strong>The Brook and the Bluff - </strong>
                    <a style="color:red;" href="https://www.youtube.com/channel/UC6elu4xifHmeYN3_JDMPUxA"><i class="fab fa-youtube fa-lg"></i></a>
                    <a style="color:#4AB3F4" href="https://twitter.com/brookandbluff?lang=en"><i class="fab fa-twitter fa-lg"></i></a>
                    <p>
                        <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:4dWtsQvuME6tCWFycaTvO7&size=basic&theme=light" width="150" height="27" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                    </p>
                    <p>
                        I love these guys!  I filled in on bass for them for about a year (2016-2017) and laid down some bass tracks for their first album.
                        All of them are incredible singers, but Joseph might actually be a god.  My favorite song we played was "Rush". 
                        Check them out on Spotify!  Here are some videos I starred in:
                    </p>
                    <p>
                        <iframe width="400" height="275" src="https://www.youtube-nocookie.com/embed/35TAeugKpdY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <iframe width="400" height="275" src="https://www.youtube-nocookie.com/embed/8XoE1GP24b8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </p>

                </li>
                <li>
                    <strong>Junior Spicy</strong>
                    <p>
                        <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fjunior-spicy&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe>
                    </p>
                </li>
            </ul>
            <h2>Bass Rig</h2>
            <ul>
                <li><b>Bass:</b> Ernie Ball Music Man StingRay 5 HH 5-String Electric Bass Guitar India Ivory Maple Fretboard</li>
                <li><b>Amp:</b> Mesa Boogie Walkabout 1x12 300W Tube Bass Combo Amp</li>
                <li><b>Strings:</b> DR (Various)</li>
                <li><b>Pedals:</b> TC Electronic Polytune tuner (1), Electro-Harmonix Enigma Q Balls Bass Envelope Filter Pedal</li>
            </ul>
        </div>
    </div>
    <div class="feed">
        <div>
            <h2>
                My Friends' Music:
            </h2>
            <ul class="feed-list" id="spotify-list">
                <li>
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:3RC2E7qt5f6PXbfrE6bMjS&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:3avnA23xLmCYfnsivruOgq&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:72exXDRgILXh6TvkdNL3fj&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:1zRRDbIK328j0S1jLvkPq8&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:2CSYJwVUdOC1XpdPQiyji0&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:4dWtsQvuME6tCWFycaTvO7&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:4OepGeM3jMOKPNSmJ2lGTr&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:6NQ7QH4hR3YviZbPOFSomR&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:0EOl6G6s2Rj5QspvJfji8S&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </li>
            </ul>
        </div>
    </div>
</div>